{% extends '_template.html.twig' %}

{% block title %}User{% endblock %}

{% block content %}

     <div class="section">
        <h1 class="title">Membre: {{ app.user.nom }}</h1>

    </div>

{% endblock %}
