{% extends '_template.html.twig' %}

{% block title %}User{% endblock %}

{% block content %}

    <section class="section">
        <div class="columns">
            <div class="column">
                <h1 class="title has-text-primary">
                    {{ app.user.id }}
                </h1>
                <p class="content">
                    {{ app.user.prenom }}
                </p>
                <p class="content">
                    {{ app.user.nom }}
                </p>
            </div>
        </div>
    </section>

{% endblock %}
