{% extends "admin/dashboard/index.html.twig" %}

{% block title %}
    Modification
{% endblock %}

{% block content %}
    <section class="section">
        <h2 class="title">{{user.nom }}</h2>
        {% include 'includes/flash.html.twig' %}
        {% include "admin/user/_user_form.html.twig" %}
    </section>
{% endblock %}