{% extends "_template.html.twig" %}
{# Menu qui sera affiché sur toutes les pages du Front-Office #}
{# On indique de quel template on hérite.
   Le chemin est à indiquer depuis le répertoire racine des templates (templates/) #}
{% block content %}


                {# <!--------------------------- Cookies------------------------------> #}
        {# <div id="cookies">
            <p>En cliquant sur ”J’accepte”, vous acceptez l’utilisation des cookies. <br>
            Vous pourrez toujours les désactiver ultérieurement. <br>
            Si vous supprimez ou désactivez nos cookies, vous pourriez rencontrer des interruptions ou des problèmes d’accès au site.
            </p>
            <a href="#" id="accept">Accepter</a>
        </div> #}

                {# <!----------------- Thematiques / Destinations --------------> #}

        <div id="options">
            <p>N'attendez pas<br> pour partir !</p>
            <div id="optionscontener">
                <a href="destinations.html">Nos destinations</a>
                <a href="thematiques.html">Nos thématiques</a>
            </div>
        </div>

                {# <!-------------------- Présentation --------------------------> #}
        <div id="presentation">
            <p>Découvrir les régions n’aura jamais été aussi facile. Avec Vélonaute,<br> 
            vous choisissez une destination ou une expérience<br> et on s'occupe du reste. On met à votre disposition les vélos, <br>
            on vous propose des itinéraires et hébergements en fonction de vos envies.
            </p>
        </div>

                {# <!--------------- Nos Bonus  -----------------------> #}

        <div id="nosBonus">
            <div class="bonus"> 
                <i class="fas fa-rocket" ></i>
                <p class="titreBonus">Destinations</p>
                <p>Envolez-vous vers des destinations originales</p> 
            </div>

            <div class="bonus"> 
                <i class="fas fa-dove" ></i>
                <p class="titreBonus">Partez l'esprit tranquille</p>
                <p>On vous simplifie la vie : vélo, équipement, logement... </p> 
            </div>

            <div class="bonus"> 
                <i class="fas fa-mobile-alt" ></i>
                <p class="titreBonus">Application</p>
                <p>Notre application dédiée pour vous orienter.</p> 
            </div>
        </div>

	            {# <!--------------- Bouton haut de page --------------------> #}
        <div id="up">
            <a href="#"><i class="fas fa-arrow-circle-up"></i></a>
        </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/script.js') }}" type="text/javascript"></script>
{% endblock %}