
{% extends "index.html.twig" %}

    {% block body %}

		<section class="container" id="itineraire">
			
			<div id="photo__bretagne">
				<p>Bretagne</p>

				{# <!--------------------- coeur -------------------> #}
				<span  class="coeur">
					<i class="fas fa-heart" id="coeur" ></i>
				</span>
			</div>

 				{# <!-------------------------- itineraire --------------------------> #}
			<article>

				<h4>La Bretagne à vélo, la culture bretonne à portée de pédale </h4>
		
				<p>Envie de mer, de vieilles cités de caractère et d’air vif ? Partez à la rencontre de Rennes, la capitale de la Bretagne, de la cité des corsaires de Saint-Malo et des ruelles médiévales de Dinan.</p> <br>

 				<p>Mais la Bretagne ne se résume pas à ses grands emblèmes. Vous serpentez sur des voies vertes le long des canaux à l’ombre des arbres, longez la mer et vous enfoncez dans les terres à la rencontre des perles méconnues du patrimoine breton, comme Léhon ou Dol-de-Bretagne.</p>

				<p>Alors quoi de mieux qu’une randonnée à vélo pour prendre le temps de ses vacances et de profiter pleinement de la Bretagne ?</p>

				<div>
					<div class="partageRS">
						<p>Partagez sur les réseaux sociaux :</p>
						<a target="_blank" title="Facebook" href="https://cutt.ly/EgfJO3C" 
						rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;"><img src="../img/facebook_icon.png" alt="Facebook" /></a>
			
						<a target="_blank" title="Twitter" href="https://twitter.com/share?url=https://bit.ly/2sI7H3v" 
						rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=700');return false;"><img src="../img/twitter_icon.png" alt="Twitter" /></a>
					</div>
					<div class="reservation">
						<p class="price">Dès 125 €</p>
						<a href="../reservations.html">Je réserve</a>
					</div>
				</div>

				<div class="clear"></div>
			</article>
		</section>


	{# <!-----------------rotation --------------------------> #}
	<!-- <center>
	<section id="rotation">
			<img src="../img/logo-officiel.png" class="rotate" width="100" height="100" />

	</section>
	</center> -->
	{# <!------------------------------ map ---------------------------------> #}
	
			<section class="container" id="map">
				<img src="../img/map__bretagne.jpg" alt="" class="map">
			</section>


	{# <!------------------------------ infos pratiques ------------------------> #}



			<section class="container" id="infos">
				<article>
					<p class="infosPratiques">Informations Pratiques</p>
					<h3>Se rendre au point de départ:</h3>
					<p>En avion: vol pour Rennes</p>
					<p>En train: TGV depuis la gare de Paris Montparnasse. Le temps de trajet est estimé à 2h20. Pour planifier votre voyage, <a href="https://www.oui.sncf">Ouisncf.</a><p>.
								

					<h3>Parking:</h3>
					<p>Si vous venez en voiture, vous pouvez garer votre véhicule dans un parking sécurisé situé dans le centre-ville de Rennes, à proximité de votre hébergement. Le tarif est de 25€/semaine.Tous les détails vous seront indiqués dans vos documents de voyage.	</p>
						

					<h3>Revenir au point de départ:</h3>

					<p>Vous empruntez le train régional si vous souhaitez revenir à votre point de départ. Les trains sont sans réservation et acceptent les vélos gratuitement. Le billet est à prendre sur place (tarif plein 14.30€/adulte). Il y a plusieurs trains dans la journée. Vous trouverez les horaires dans vos documents de voyage.</p>

					<h3>Horaire de rendez-vous:</h3>
					<p>Le premier jour étant une journée sans vélo, vous arrivez à votre guise en fonction de votre trajet. Veuillez noter que les chambres sont habituellement disponibles en milieu d'après-midi suivant votre hébergement. Nous vous remercions de prévenir en cas d'arrivée tardive.</p>

				</article>
			</section>


			{# <!--------------------------- témoignage -----------------------> #}


			<section class="container" id="temoignage">  

				<figure class="snip1192">
					<blockquote>Super expérience lors de notre parcours ! De superbe points de vue, je recommande ce trajet, entre amis ou en famille. 
						</blockquote>
					<div class="author">
					<img src="../img/visage4.jpg"  alt="temoignage4"/>
					<h5>Josianne<span> Velo'novice</span></h5>
					</div>
				</figure>
				<figure class="snip1192 hover">
					<blockquote>Enfin un site où tout est compris. Tout est planifié, il n’y a qu’à se laisser guider et admirer les paysages</blockquote>
					<div class="author">
					<img src="../img/visage5.jpg"  alt="temoignage5"/>
					<h5>Damien<span> Velo'naute</span></h5>
					</div>
				</figure>
				<figure class="snip1192">
					<blockquote> Parcours accesible pour toute la famille ! Avec ses super pauses gourmandes,  il y en a pour tous les goûts.</blockquote>
					<div class="author">
					<img src="../img/visage6.jpg" alt="temoignage6"/>
					<h5>Kate<span> Velo'nomade</span></h5>
					</div>
				</figure>
			</section>

			
			
			{# <!---------------------------------- FOOTER -----------------------------> #}


			<footer>
				<section id="infosFooter">
					<div>
						<p><a id="buttoncontact" href="#contact">Contactez-nous</a></p>
						<p><a href="faq.html">FAQ</a></p>
						<p><a href="mentions.html">Mentions légales</a></p>
					</div>
					<div id="adresse">
						<h3>Adresse</h3>
						<p>8 rue de Rivoli 75004 Paris</p>
						<a class="reseaux" href="https://fr-fr.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
						<a class="reseaux" href="https://www.instagram.com/?hl=fr/" target="_blank"><i class="fab fa-instagram"></i></a>
						<a class="reseaux" href="https://twitter.com/?lang=fr" target="_blank"><i class="fab fa-twitter-square"></i></a>
					</div>
				</section>
				<section id="contact">
					<div class="forum">
						<i id="close" class='fas fa-times'></i>
						<h2 class="titre">Contactez-nous</h2>
						<form>
							<p><input type="text" name="your-name" size="40" placeholder="Votre prénom, nom"></p>
							<p><input type="email" name="your-mail" size="40" placeholder="Votre e-mail"></p>
							<p><textarea name="your-message" cols="40" rows="10" placeholder="Votre message"></textarea></p>
							<p><input type="submit" value="Envoyer"></p>
						</form>
					</div>
				</section>
				<section id="copyright">
					<p>Copyright © 2020 - Tous droits réservés</p>
				</section>
			</footer>
	
		<script type="text/javascript" src="../js/itineraire.js"></script>
	</body>
</html>

        {% endblock %}
