
{% extends "index.html.twig" %}

    {% block body %}

	<section class="container" id="itineraire">

		<div id="photo__savoie">
			<p>Savoie</p>
			{# <!--------------------- coeur -------------------> #}
			<span class="coeur">
				<i class="fas fa-heart" id="coeur"></i>
			</span>
			{# <!--------------------- coeur -------------------> #}
		</div>


		<article>
			<h4>Du lac Léman à la Méditerrannée</h4>

			<p>Découvrez les secrets de Vienne la gallo-romaine. Partez ensuite à vélo le long du Rhône et sillonnez les
				vignobles mondialement connus des Côtes-du-Rhône. Un voyage à vélo idéal pour les familles et les
				cyclistes hédonistes!</p>

			<p>La ViaRhôna est un itinéraire cyclable qui a pour but de rallier le Lac Léman à la Mer Méditerranée. 815
				kilomètres au fil de l’eau, des montagnes alpines aux plages de la Méditerranée, un rêve de vacances à
				vélo accessible à tous!</p>
			<p>L’itinéraire chemine au cœur d’un territoire riche des multiples témoignages de la navigation fluviale.
				Commencez votre escapade avec Vienne, à 30 kilomètres au sud de Lyon, pour une découverte de ses
				monuments datant de l’histoire gallo-romaine. Les célèbres vignobles des Côtes-du-Rhône déroulent leurs
				coteaux ensoleillés. Vous adopterez un rythme idéal pour allier le plaisir du vélo à la découverte
				culturelle et gastronomique.<br>
				Valence, Ville d’Art et Histoire vous ouvrira enfin les portes du Midi.</p>

				<div>
					<div class="partageRS">
						<p>Partagez sur les réseaux sociaux :</p>
						<a target="_blank" title="Facebook" href="https://cutt.ly/EgfJO3C" 
						rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;"><img src="../img/facebook_icon.png" alt="Facebook" /></a>
			
						<a target="_blank" title="Twitter" href="https://twitter.com/share?url=https://bit.ly/2sI7H3v" 
						rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=700');return false;"><img src="../img/twitter_icon.png" alt="Twitter" /></a>
					</div>
					<div class="reservation">
						<p class="price">Dès 105 €</p>
						<a href="../reservations.html">Je réserve</a>
					</div>
				</div>

			<div class="clear"></div>
		</article>
	</section>


	<section class="container" id="map__savoie">
		<img src="../img/map__savoie.jpg" alt="" class="map">
	</section>


	<section class="container" id="infos">
		<article>
			<p class="infosPratiques">Informations Pratiques</p>
			<h3>Se rendre au point de départ:</h3>
			<p>En avion: l'aéroport le plus proche est celui de Lyon St-Exupéry. A l'aéroport, la navette Tramway Rhône
				Express vous permet de rejoindre le centre-ville en 30 mn jusqu'à la gare de Lyon Part-Dieu.

				En train: la gare de Vienne n'est pas desservie par les TGV. De nombreux trains régionaux desservent
				Vienne depuis Lyon Part-Dieu ou Lyon Perrache (durée du trajet env 20min). Pour planifier votre voyage
				avec <a href="https://www.oui.sncf">Ouisncf.</a>
			<p>

			<h3>Parking:</h3>
			<p>Si vous venez en voiture, vous pouvez stationner dans les parkings sécurisés Saint-Marcel (11,60€/jour)
				ou Gare SNCF (11,50€/jour).</p>

			<h3>Revenir au point de départ:</h3>

			<p>Vous empruntez le train si vous souhaitez revenir à votre point de départ. Des trains régionaux réguliers
				vous permettent de retourner facilement à Vienne depuis Valence. Ceux-ci acceptent les vélos sans
				supplément. Le temps de trajet est de 50min env. Tarif plein 13.80 €/pers.

				Vous trouverez les horaires de la journée dans vos documents de voyage.

				Si vous avez pris l'option transfert de bagages, vous pourrez récupérer vos bagages à partir de 16h au
				point de dépôt.</p>

			<h3>Horaire de rendez-vous:</h3>
			<p>Le premier jour étant une journée sans vélo, vous arrivez à votre guise en fonction de votre trajet.
				Veuillez noter que les chambres sont habituellement disponibles en milieu d'après-midi suivant votre
				hébergement. Nous vous conseillons de prévoir une demi-journée à Vienne qui mérite qu'on s'y attarde.
				Nous vous remercions de prévenir en cas d'arrivée tardive.</p>


		</article>
	</section>

	{# <!---------------------------témoignages -------------------------> #}

	<section class="container" id="temoignage">

		<figure class="snip1192">
			<blockquote>Super expérience lors de notre parcours ! De superbe points de vue, je recommande ce trajet,
				entre amis ou en famille.
			</blockquote>
			<div class="author">
				<img src="../img/visage1.jpeg" alt="temoignage1" />
				<h5>John Maus <span> Velo'novice</span></h5>
			</div>
		</figure>
		<figure class="snip1192 hover">
			<blockquote>Enfin un site où tout est compris. Tout est planifié, il n’y a qu’à se laisser guider et admirer
				les paysages</blockquote>
			<div class="author">
				<img src="../img/visage2.jpeg" alt="temoignage2" />
				<h5>Catherine<span> Velo'nomade</span></h5>
			</div>
		</figure>
		<figure class="snip1192">
			<blockquote> Parcours accesible pour toute la famille ! Avec ses super pauses gourmandes, il y en a pour
				tous les goûts.</blockquote>
			<div class="author">
				<img src="../img/visage3.jpeg" alt="temoignage3" />
				<h5>Eleonore<span> Velo'novice</span></h5>
			</div>
		</figure>
	</section>

        {% endblock %}
