{% extends "admin/dashboard/index.html.twig" %}

{% block title %}
    Modification
{% endblock %}

{% block content %}
    <section class="section">
        <h2 class="title">{{produit.nom }}</h2>
        {% include 'includes/flash.html.twig' %}
        {% include "admin/produit/_produit_form.html.twig" %}
    </section>
{% endblock %}