/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
 .StripeElement {
    box-sizing: border-box;
  
    height: 40px;
  
    padding: 10px 12px;
  
    border: 1px solid ;
    border-radius: 4px;
    background-color: white;
  
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}


.btn.btn-success.mt-4 {
        border: 0.5px white;
        color: white;
        padding: 10px;
        background-color: #28da84;
        margin: auto;
 }
    
div.section {
    display: flex;
    width: 900px;
}

div.section div {
flex:1;
}

form#payment-form{
    flex:1;
    margin-left:10px
}

span {
  font-size: 25px;
  margin-left: 25px
}