{% extends "_template.html.twig" %}

{% block title %}Hello SuccessPageController!
{% endblock %}


{% block content %}

	<p id="success_page">
        Merci pour votre réservation !<br>
		Si vous avez des questions, n'hésitez pas à nous contacter

		<a href="mailto:contact@velonaute.fr">contact@velonaute.fr</a>
	</p>


{% endblock %}
