<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Velonaute-Team">
    <meta name= "description" content="Le meilleur endroit pour louer votre vélo !">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <title>{% block title %}Page Réservation{% endblock %}</title>
    {# Récupération des balises <link> pour l'entrée "app" de Webpack Encore #}
        {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}
        

        <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/3c7632cea0.js" crossorigin="anonymous"></script>  
    {% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
    {# Récupération des balises <script> pour l'entrée "app" de Webpack Encore #}
        {{ encore_entry_script_tags('app') }}
    {% block javascripts %}
    {% endblock %}
</body>
</html>
