{% extends "base.html.twig" %}


    {% block body %}
   
    {# <!--------- Itinéraires ---------------> #}

    <div id="containerChoixItinéraire">

        <h2>Tous nos itinéraires</h2>

        <!-- Présentation des destinations -->

        <div id="gallery">
            <div>
                <a href="regions/savoie.html">
                    <img src="{{ asset('build/images/savoie.jpg') }}" alt="Savoie">
                    <p>La Savoie</p>
                </a>
            </div>
            <div>
                <a href="regions/bretagne.html">
                    <img src="{{ asset('build/images/StMichel.jpg') }}" alt="Saint Michel">
                    <p>La Bretagne</p>
                </a>
            </div>
        </div>

        <!-- Assistance -->
        
            <p id="assistance"> VOUS SOUHAITEZ ORGANISER UN VOYAGE SUR-MESURE ?<br> Contactez-nous, notre équipe reste à
                votre disposition.<br>
                <a href="#"><i class="fas fa-phone-volume"></i></a>
                <a href="#"><i class="fas fa-envelope-square"></i></a>
            </p>
    </div>

    {% endblock %}
