<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Nos destinations</title> 
        <meta charset="utf-8">
        <meta name="author" content="Velonaute-Team">
        <meta name= "description" content="Le meilleur endroit pour louer votre vélo !">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/3c7632cea0.js" crossorigin="anonymous"></script>    
    </head>

    <body>
                <!------------------------- HEADER -------------------------------->
        <header>
            <div id="logo">
                <a href="index.html">
                <img src="img/logo-officiel.png" alt="logo de site">
                </a>
                <h1>Velonaute</h1>
            </div>
            <nav>
                <div id="rechercheConnexion">
                    <div id="recherche">
                        <input id="input" type="text" name="Recherche" placeholder="Recherche">
                        <i class="fas fa-search"></i>
                        <a href="#" id="connexion">Connexion</a>
                    </div>
                </div>
                <div>
                    <a href="destinations.html">Destinations</a>
                    <a href="thematiques.html">Thématiques</a>
                </div>
            </nav>
            <div class="clear"></div>
            <div id="burger">
                <i class="fas fa-bars" ></i>
            </div>
            <div id="burgerMenu">
                <a href="#">Connexion</a> 
                <a href="destinations.html">Destinations</a>
                <a href="thematiques.html">Thématiques</a>        
                <a href="#">Contact</a>    
            </div>
        </header>


            
            <!-- -------DESTINATIONS------------------ -->


    <div id="containerDestination">

        <h1>Nos destinations</h1>
        <h2>Retrouvez les terroirs, la culture et la gastronomie de nos régions grâce aux itinéraires du Vélonaute.</h2>

        <!-- Présentation des destinations -->

        <div id="gallery">
            <div>
                <a href="choix-itineraires.html">
                    <img src="img/destination/chalet.jpg" alt="campagne verdoyante vélo apposé à un châlet">
                    <p>La Savoie</p>
                </a>
            </div>

            <div>
                <a href="choix-itineraires.html">
                    <img src="img/destination/nature-matin.jpg" alt="vélo sur une route de campagne">
                    <p>La Somme</p>
                </a>
            </div>


            <div>
                <a href="choix-itineraires.html">
                    <img src="img/destination/vignes.jpg" alt="vignoble">
                    <p>La Bourgogne</p>
                </a>
            </div>

            <div>
                <a href="choix-itineraires.html">
                    <img src="img/destination/nature-velo.jpg" alt="vélo homme en forêt">
                    <p>Les Landes</p>
                </a>
            </div>
            <div>
                <a href="choix-itineraires.html">
                    <img src="img/destination/bretagne.jpg" alt="plage bretonne">
                    <p>La Bretagne</p>
                </a>
            </div>

            <div>
                <a href="choix-itineraires.html">
                    <img src="img/destination/vtt.jpeg" alt="vtt forêt ">
                    <p>La Normandie</p>
                </a>
            </div>
        </div>
        <!-- Assistance -->
        <div>
            <p id="assistance"> VOUS SOUHAITEZ ORGANISER UN VOYAGE SUR-MESURE ?<br> Contactez-nous, notre équipe reste à
                votre disposition.<br>
                <a href="#"><i class="fas fa-phone-volume"></i></a>
                <a href="#"><i class="fas fa-envelope-square"></i></a>
            </p>
        </div>
        
        



    </div>

        <!--------------- Footer -------------------->
    <footer>
		<section id="infosFooter">
			<div>
				<p><a id="buttoncontact" href="#contact">Contactez-nous</a></p>
				<p><a href="faq.html">FAQ</a></p>
				<p><a href="mentions.html">Mentions légales</a></p>
			</div>
			<div id="adresse">
				<h3>Adresse</h3>
				<p>8 rue de Rivoli 75004 Paris</p>
				<a class="reseaux" href="https://fr-fr.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
				<a class="reseaux" href="https://www.instagram.com/?hl=fr/" target="_blank"><i class="fab fa-instagram"></i></a>
				<a class="reseaux" href="https://twitter.com/?lang=fr" target="_blank"><i class="fab fa-twitter-square"></i></a>
			</div>
		</section>
		<section id="contact">
			<div class="forum">
				<i id="close" class='fas fa-times'></i>
				<h2 class="titre">Contactez-nous</h2>
				<form>
					<p><input type="text" name="your-name" size="40" placeholder="Votre prénom, nom"></p>
					<p><input type="email" name="your-mail" size="40" placeholder="Votre e-mail"></p>
					<p><textarea name="your-message" cols="40" rows="10" placeholder="Votre message"></textarea></p>
					<p><input type="submit" value="Envoyer"></p>
				</form>
			</div>
		</section>
		<section id="copyright">
			<p>Copyright © 2020 - Tous droits réservés</p>
		</section>
	</footer>

</body>

</html>