{% extends "base.html.twig" %}


    {% block body %}
    {# <!------------------------- FAQ --------------------------------> #}
    <div id="containerFAQ">
        <h2>Foire Aux Questions</h2>

        <button class="accordion">Qu'est-ce qu'un vélo électrique ?</button>
        <div class="panel">
            <p>Un vélo électrique a un moteur alimenté par une batterie rechargeable qui aide le cycliste lors du
                pédalage. Il rend plus facile les démarrages, les côtes, les trajets avec du vent de face etc. Le moteur
                du vélo électrique aide le cycliste à atteindre la vitesse de 25 km/h puis le cycliste doit pédaler pour
                aller plus vite.</p>
        </div>

        <button class="accordion">Quels sont les avantages de louer un vélo électrique ?</button>
        <div class="panel">
            <p>Le vélo électrique a de nombreux avantages :</p>
            <ul>
                <li>L’assistance du vélo électrique vous permet de vous relancer rapidement, et vous vous retrouvez donc
                    plus rapidement à 25 km/h après chaque démarrage et cela sans forcer.
                </li>
                <li>Les côtes deviennent tout de suite moins dures à monter et vous n’arrivez donc plus essoufflé en
                    haut.
                </li>
                <li>Lorsqu’il y a du vent de face, l’assistance du vélo électrique vous sera très utile pour garder
                    votre vitesse sans avoir à forcer physiquement.
                </li>
                <li>Vous pouvez emprunter les pistes cyclables ou autres voies réservées au vélo (voie de bus par
                    exemple) et vous évitez donc les embouteillages.
                </li>
                <li>Le vélo électrique est un très bon moyen de faire une activité physique modérée chaque jour.
                </li>
                <li>Le stationnement est largement facilité, vous ne perdez plus de temps à chercher une place.
                </li>
            </ul>
        </div>

        <button class="accordion">Comment recharger la batterie d'un vélo électrique ?</button>
        <div class="panel">
            <p>La batterie du vélo électrique est amovible et elle se recharge à l’aide d’un chargeur qui se branche
                directement sur votre prise murale.</p>
        </div>

        <button class="accordion">Peut-on utiliser le vélo électrique par temps de pluie ?</button>
        <div class="panel">
            <p>Oui, les éléments électroniques du vélo électrique sont tous étanches ce qui vous permet d’utiliser le
                vélo électrique même s’il pleut.</p>
        </div>

        <button class="accordion">A qui s’adresse la location d'un vélo électrique ?</button>
        <div class="panel">
            <p>La location d'un vélo électrique s'adresse à tout le monde. En effet, il permet un usage varié comme par
                exemple d’être utilisé dans les situations suivantes :</p>
            <ul>
                <li>Au travail, le vélo électrique vous permet d’avoir une activité physique quotidienne tout en
                    arrivant frais sur votre lieu de travail. De plus vous n’avez plus à vous soucier du trafic et du
                    stationnement ou des perturbations dans les transports en commun, vous mettrez moins de temps pour
                    effectuer vos trajets quotidiens.
                </li>
                <li>C’est le meilleur moyen pour faire les courses. Vous pouvez vous arrêter quand vous le souhaitez,
                    sans contrainte de stationnement et repartir aussi vite. N’hésitez pas à charger votre vélo
                    électrique à l’avant et à l’arrière de tout ce dont vous avez envie, l’assistance électrique vous
                    donnera un coup de pouce pour tout ramener à la maison sans vous fatiguer.
                </li>
                <li>Avec le vélo électrique les promenades sont plus longues et moins fatigantes. Vous pouvez suivre des
                    groupes mieux entraînés que vous sans efforts et profiter de votre excursion avec vos amis, enfants,
                    et petits enfants.
                </li>
            </ul>
        </div>

        <button class="accordion">Doit-on actionner une manette pour gérer l’aide du moteur du vélo électrique
            ?</button>
        <div class="panel">
            <p>Oui, sur un vélo électrique il suffit de régler le degré d'assistance désiré puis de commencer à pédaler
                : le moteur se met en route automatiquement et son fonctionnement est géré automatiquement.</p>
        </div>

        <button class="accordion">Quelle est l'autonomie d'un vélo électrique ?</button>
        <div class="panel">
            <p>Environ 40 km sachant que l’autonomie varie en fonction de nombreuses caractéristiques : côtes, vent de
                face, mode d’assistance choisi, poids du cycliste, pression des pneus, etc.</p>
        </div>

        <button class="accordion">Doit-on répondre à des obligations d'assurance , de port du casque pour conduire un
            vélo électrique ?</button>
        <div class="panel">
            <p>Le vélo électrique est considéré comme un vélo traditionnel. Il ne nécessite donc aucune assurance
                particulière, n’oblige pas le port du casque, et est autorisé sur les pistes cyclables comme tout autre
                vélo.</p>
        </div>

        <button class="accordion">Comment calculer les tarifs des locations d'un vélo électrique ?</button>
        <div class="panel">
            <p>Nos tarifs sont calculés par tranches de 24 h non proratisables, c'est à dire que si vous effectuez une
                location de vélo électrique pour 1 h, 3 h ou 24 h vous paierez le prix d'une journée de location. De
                même, si vous louez le vélo électrique pour 25 h, 30 h ou 48 h vous paierez le prix de deux jours de
                location.</p>
        </div>

        <button class="accordion">Quel est le mode de paiement accepté pour louer un vélo ?</button>
        <div class="panel">
            <p>Nous proposons plusieurs modes de paiements afin de régler votre location de vélo : par espèces, par
                chèque, par virement bancaire ou Paypal. Vous pouvez nous régler la location de vélo au moment du
                retrait du vélo directement.</p>
        </div>

        <button class="accordion">Doit-on laisser une caution pour la location d'un vélo ?</button>
        <div class="panel">
            <p>Oui, il est nécessaire de laisser une caution de 150 € par vélo non électrique et de 300 € par vélo
                électrique. Vous pouvez nous laisser la caution en chèque, carte bancaire ou espèces.</p>
        </div>

        <button class="accordion">Où faut-il se rendre pour démarrer votre location de vélo ?</button>
        <div class="panel">
            <p>Vous pouvez vous rendre dans la boutique de réservation. Si vous rencontrez un problème, vous pouvez nous
                appeler au 01 XX XX XX XX (appel non surtaxé) ou bien nous envoyer un email à contact@velonaute.fr</p>
        </div>

        <button class="accordion">Les vélos de location sont-ils équipés de paniers à l'avant ?</button>
        <div class="panel">
            <p>Pour pouvoir bénéficier d’un panier lors de votre location de vélo, il faut le louer avec le vélo lorsque
                vous faîtes votre réservation. La location d’un panier avant coûte 2 € par jour.</p>
        </div>

        <button class="accordion">Combien de jours en avance dois-je réserver pour la location d'un vélo ?</button>
        <div class="panel">
            <p>Il n’y a pas de délai pour louer un vélo. Vous pouvez très bien le louer un mois à l’avance comme la
                veille. Mais comme nous avons une quantité limitée de vélos et vélos électriques, nous vous conseillons
                de réserver votre location de vélo un peu à l’avance : 3 à 4 jours avant le début de votre location est
                bien en règle générale.</p>
        </div>

        <button class="accordion">Quels types de vélo proposez-vous en location ?</button>
        <div class="panel">
            <p>Nous proposons en location des vélos électriques et non électriques : vélo de ville, vélo de randonnée,
                VTT et VTC.</p>
        </div>

        <button class="accordion">Est-ce que vous proposez une réduction lorsqu'on loue pour un certain nombre de jours
            ?</button>
        <div class="panel">
            <p>Oui, nous proposons une réduction de 10% pour une location d’une semaine, 20% pour 2 semaines, 30% pour 3
                semaines et à partir de 4 semaines de location il y a 40% de réduction.</p>
        </div>
    </div>

    {% endblock %}

{# <!--------------- Footer --------------------> #}

{% extends "footer.html.twig" %}
