
{% extends "base.html.twig" %}

        {% block body %}
{# <!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Velonaute</title> 
        <meta charset="utf-8">
        <meta name="author" content="Velonaute-Team">
        <meta name= "description" content="Le meilleur endroit pour louer votre vélo !">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/3c7632cea0.js" crossorigin="anonymous"></script>
        <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/7c80618d521a687de456d16b2/3ebcd3c06ccdffadda7a82acf.js");</script> 
    </head> #}

    <body>
                {# <!------------------------- HEADER --------------------------------> #}
        <header>
            <div id="logo">
                <a href="index.html">
                <img src="{{ asset('build/images/logo-officiel.png') }}" alt="logo de site">
                </a>
                <h1>Velonaute</h1>
            </div>
            <nav>
                <div id="rechercheConnexion">
                    <div id="recherche">
                        <input id="input" type="text" name="Recherche" placeholder="Recherche">
                        <i class="fas fa-search"></i>
                        <a href="#" id="connexion">Connexion</a>
                    </div>
                </div>
                <div>
                    <a href="destinations.html">Destinations</a>
                    <a href="thematiques.html">Thématiques</a>
                </div>
            </nav>
            <div class="clear"></div>
            <div id="burger">
                <i class="fas fa-bars" ></i>
            </div>
            <div id="burgerMenu">
                <a href="#">Connexion</a> 
                <a href="destinations.html">Destinations</a>
                <a href="thematiques.html">Thématiques</a>        
                <a href="#">Contact</a>    
            </div>
        </header>
                {# <!--------------------------- Cookies------------------------------> #}
        {# <div id="cookies">
            <p>En cliquant sur ”J’accepte”, vous acceptez l’utilisation des cookies. <br>
            Vous pourrez toujours les désactiver ultérieurement. <br>
            Si vous supprimez ou désactivez nos cookies, vous pourriez rencontrer des interruptions ou des problèmes d’accès au site.
            </p>
            <a href="#" id="accept">Accepter</a>
        </div> #}

                {# <!----------------- Thematiques / Destinations --------------> #}

        <div id="options">
            <p>N'attendez pas<br> pour partir !</p>
            <div id="optionscontener">
                <a href="destinations.html">Nos destinations</a>
                <a href="thematiques.html">Nos thématiques</a>
            </div>
        </div>

                {# <!-------------------- Présentation --------------------------> #}
        <div id="presentation">
            <p>Découvrir les régions n’aura jamais été aussi facile. Avec Vélonaute,<br> 
            vous choisissez une destination ou une expérience<br> et on s'occupe du reste. On met à votre disposition les vélos, <br>
            on vous propose des itinéraires et hébergements en fonction de vos envies.
            </p>
        </div>

                {# <!--------------- Nos Bonus  -----------------------> #}

        <div id="nosBonus">
            <div class="bonus"> 
                <i class="fas fa-rocket" ></i>
                <p class="titreBonus">Destinations</p>
                <p>Envolez-vous vers des destinations originales</p> 
            </div>

            <div class="bonus"> 
                <i class="fas fa-dove" ></i>
                <p class="titreBonus">Partez l'esprit tranquille</p>
                <p>On vous simplifie la vie : vélo, équipement, logement... </p> 
            </div>

            <div class="bonus"> 
                <i class="fas fa-mobile-alt" ></i>
                <p class="titreBonus">Application</p>
                <p>Notre application dédiée pour vous orienter.</p> 
            </div>
        </div>

	            {# <!--------------- Bouton haut de page --------------------> #}
        <div id="up">
            <a href="#"><i class="fas fa-arrow-circle-up"></i></a>
        </div>

                {# <!--------------- Footer --------------------> #}
        <footer>
            <section id="infosFooter">
                <div>
                    <p><a id="buttoncontact" href="#contact">Contactez-nous</a></p>
                    <p><a href="faq.html">FAQ</a></p>
                    <p><a href="mentions.html">Mentions légales</a></p>
                </div>
                <div id="adresse">
                    <h3>Adresse</h3>
                    <p>8 rue de Rivoli 75004 Paris</p>
                    <a class="reseaux" href="https://fr-fr.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a class="reseaux" href="https://www.instagram.com/?hl=fr/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a class="reseaux" href="https://twitter.com/?lang=fr" target="_blank"><i class="fab fa-twitter-square"></i></a>
                </div>
            </section>
            <section id="contact">
                <div class="forum">
                    <i id="close" class='fas fa-times'></i>
                    <h2 class="titre">Contactez-nous</h2>
                    <form>
                        <p><input type="text" name="your-name" size="40" placeholder="Votre prénom, nom"></p>
                        <p><input type="email" name="your-mail" size="40" placeholder="Votre e-mail"></p>
                        <p><textarea name="your-message" cols="40" rows="10" placeholder="Votre message"></textarea></p>
                        <p><input type="submit" value="Envoyer"></p>
                    </form>
                </div>
            </section>
            <section id="copyright">
                <p>Copyright © 2020 - Tous droits réservés</p>
            </section>
        </footer>

	    <script src="script.js"></script>
    </body>
</html>
        {% endblock %}
