{% extends "base.html.twig" %}


    {% block body %}

    <div id="containerPaiement">
        <div class="resa">

            <h3 class="titre">Ma réservation</h3>
            <div>
                <img src="img/paiement/pexels-dorothy-castillo-2270328.jpg" alt="cycliste à la montagne"
                    class="imagePaiement">
            </div>
            <h2 id="totalVelonaute">Montant total......150€</h2>


        </div>

        <hr>

        <div id="paiement">
            <h3>Votre paiement</h3>

            <!-- ***************************CARD DETAILS formulaire*********************************************** -->

            <form class="formulairePaiement">

                <label class="typeCarte">Types de paiement:</label><br>
                <div id="moyensPaiement">

                    <p>
                        <input type="radio" id="card" name="carte" value="carte bleue" checked="checked">
                        <label for="carteBleue"> Carte bleue</label>
                        <i class="fab fa-cc-visa"></i>
                    </p>
                    <p>
                        <input type="radio" id="card" name="carte" value="Mastercard">
                        <label for="mastercard"> Mastercard</label>
                        <i class="fab fa-cc-mastercard"></i>
                    </p>
                    <p>
                        <input type="radio" id="paypal" name="carte" value="paypal">
                        <label for="paypal"> Paypal</label>
                        <i class="fab fa-cc-paypal"></i>
                    </p>
                </div>


                <label for="titulaireCarte">Nom du titulaire de la carte</label>
                <input type="text" id="titulaireCarte" name="titulaireCarte" required><br>

                <label for="numeroCarte">Numéro de carte</label>
                <input type="number" id="numeroCarte" name="numeroCarte" minlength="16" maxlength="16" required><br>


                <div class="tooltip">
                    <label for="securite=">Code sécurité</label>
                    <span class="tooltiptext"> Il est constitué des 3 chiffres inscrits au dos de votre carte</span>
                </div>
                <input id=securite name="securite" type="number" max="999" required><br>


                <label for="moisExpiration">Date d'expiration</label>
                <input type="text" class="date" name="moisExpiration" minlength="2" maxlength="2">
                <span>/</span>
                <input type="text" class="date" name="anneeExpiration" minlength="4" maxlength="4">
                <br>


                <label for="pays">Choisir son pays</label>
                <select>
                    <option value="France">France</option>
                    <option value="Allemagne">Allemagne</option>
                    <option value="Pays-Bas">Pays-Bas</option>
                    <option value="Royaume-Uni">Royaume-Uni</option>
                    <option value="Espagne">Espagne</option><br>
                </select><br>
                <div id="bouton">
                    <button type="submit" id="boutonPaiement">Valider le paiement</button>
                </div>

                <!-- *******************************modal paiement reussi confirmation avec email*************************** -->

                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <a href="#" id="close">X</a>

                        <p>BRAVO ! votre réservation a bien été effectuée ! Vous avez reçu un mail de confirmation.</p>
                    </div>
                </div>

                <!-- ******************************message d'erreur en cas de mauvais numéro de carte ************************ -->
                <div id="erreur">Le numéro de carte saisi n'est pas valide !</div>

            </form>
        </div>
    </div>
    {% endblock %}

{# <!--------------- Footer --------------------> #}

{% extends "footer.html.twig" %}