{% extends "admin/dashboard/index.html.twig" %}


{% block content %}
    <div>
        <h3>Bonjour {{ app.user.pseudo }} !</h3>
        <p>Bienvenue sur ton espace administrateur :)</p>
    </div>
{% endblock %}

