{% extends "_template.html.twig" %}
{% block body %}
    <nav class="navbar has-background-primary is-dark">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ path('home') }}">
                <p class="subtitle is-4 has-text-success">
                     VELONAUTE 
                </p>
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{{ path('admin_dashboard') }}">
                    Accueil
                </a>
                <a class="navbar-item" href="{#{ path('admin_dashboard_itineraire_add') }#}">
                    Itinéraire
                </a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary is-small" href="#">
                            <strong>{{ app.user.pseudo }}</strong>
                        </a>
                        <a class="button is-light is-danger is-small" href="{{ path('app_logout') }}">
                            Déconnexion
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {# Bloc qui contiendra le contenu de chaque page #}
    {% block content %}{% endblock %}
{% endblock %}
