{# {% extends "admin/_template.html.twig" %} #}
{% extends "admin/dashboard/index.html.twig" %}

{# {% extends '_template.html.twig' %} #}

{% block title %}
    Itineraire - {{ itineraire.nom }}
{% endblock %}

{% block content %}
    <section class="section">
        <h1 class="title">{{ itineraire.nom }}</h1>

        {# {% include 'includes/flash.html.twig' %} #}

        {% include "admin/dashboard/_itineraire_form.html.twig" %}
    </section> 
{% endblock %}
