{% extends "admin/index.html.twig" %}

{% block title %}
    Nouvel itinéraire
{% endblock %}

{% block content %}
    <div class="section">
        <h1 class="title">Nouvel itinéraire</h1>

        {% include "admin/dashboard/_itineraire_form.html.twig" %}
    </div>
{% endblock %}